body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: blue;
}

h1{
    color:blueviolet,
}

button{
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
}

#result{
    margin-top:20px;
    font-size: 20px;
    font-weight: bold;
}